<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnvironmentVariables</key>
	<dict>
		<key>LANG</key>
		<string>en_US.UTF-8</string>
		<key>PATH</key>
		<string>/usr/bin:/bin:/usr/sbin:/sbin</string>
		<key>PYTHONDONTWRITEBYTECODE</key>
		<string>1</string>
	</dict>
	<key>ExitTimeOut</key>
	<integer>90</integer>
	<key>GroupName</key>
	<string>staff</string>
	<key>Label</key>
	<string>org.carruthers.monitor</string>
	<key>ProcessType</key>
	<string>Background</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/lucastsui/Applications/ObservationLab/runtime/venv/bin/python</string>
		<string>-B</string>
		<string>/Users/lucastsui/Applications/ObservationLab/app/deploy/nightglow/monitor.py</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/dev/null</string>
	<key>StandardOutPath</key>
	<string>/dev/null</string>
	<key>StartInterval</key>
	<integer>60</integer>
	<key>ThrottleInterval</key>
	<integer>30</integer>
	<key>Umask</key>
	<integer>63</integer>
	<key>UserName</key>
	<string>lucastsui</string>
	<key>WorkingDirectory</key>
	<string>/Users/lucastsui/Applications/ObservationLab</string>
</dict>
</plist>
